<header class="sub-header">
  <p class="sub-title">規格外の果物やさん</p>
  <div class="nav-menu">
    <%= link_to "ログイン", new_user_session_path, class: "main-header" %>
    <%= link_to "トップページ", root_path, class: "main-header" %>
  </div>
</header>
<%= image_tag "AdobeStock_301787651.jpeg", alt: "top icon", id: "login-image" %>
<div class="sign-menu">
  <h1 class="login">Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname,  class:"input-default", autofocus: true %>
    </div>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email,  class:"input-default", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password,  class:"input-default", autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation,  class:"input-default", autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
