<div id="global-container">
    <div id="container">
        <div class="mobile-menu__cover"></div>
        <header class="header">
            <p class="title">規格外の果物やさん</p>
            <button class="mobile-menu__btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </header>
        <div class="explanation">
            <p class="word">味は変わらず美味しいのに、</p><br>
            <p class="word">キズや形が悪くて出荷できない果物。</p><br>
            <p class="word">それでも誰かに届けたい農家さんと</p><br>
            <p class="word">それでも食べてみたいと思う人と人とを</p><br>
            <p class="word">つなぐマッチングサービスです。</p>
        </div>
        <% if user_signed_in? %>
            <%= image_tag "AdobeStock_285734617.jpeg", alt: "top icon", id: "assets" %>
        <% else %>
            <%= image_tag "AdobeStock_251835289.jpeg", alt: "top icon", id: "assets" %>
            <p class="copy-right">&copy; 2021 Fruit_store</p>
        <% end %>
        
    </div>
    <nav class="mobile-menu">
        <ul class="mobile-menu__main">
            <% if user_signed_in? %>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link">
                    <span><%= link_to current_user.nickname, "#", class: "main-title" %></span>
                    <span class="sub-title">名前</span>
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link">
                    <span><%= link_to "New Post", new_tweet_path, class: "main-title" %></span>
                    <span class="sub-title">新規投稿</span>
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link">
                    <span><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "main-title" %></span>
                    <span class="sub-title">ログアウト</span>
                </a>
            </li>
            <% else %>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link">
                    <span><%= link_to "Login", new_user_session_path, class: "main-title" %></span>
                    <span class="sub-title">ログイン</span>
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link">
                    <span><%= link_to "Sign Up", new_user_registration_path, class: "main-title" %></span>
                    <span class="sub-title">新規登録</span>
                </a>
            </li>
            <% end %>
        </ul>
    </nav>
</div> 
    
