<header class="sub-header">
  <p class="sub-title">規格外の果物やさん</p>
  <div class="nav-menu">
    <%= link_to "トップページ", root_path, class: "sub-btn" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sub-btn" %>
  </div>
</header>
<%= image_tag "AdobeStock_271036756.jpeg", alt: "top icon", id: "search-image" %>
<div id="search-container">
    <%= form_with(url: search_tweets_path, local:true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "商品を検索する", class: "search-input"%>
        <%= form.submit "検索", class: "sub-btn" %>
    <% end %>
    <div class="item-lists">
        <%# <% if @tweets.length != 0 %>
            <% @tweets.each do |tweet|%>
                <div class="item-info">
                    <%# <div class="user_nickname"> %>
                        <%= link_to "#{tweet.user.nickname} さん", "#", class: "search-link" %>
                    <%# </div> %>
                    <%# <div class="item-img-content"> %>
                        <%= link_to image_tag(tweet.image.variant(resize: '400x400'), class: "search-img"), tweet_path(tweet) %>
                    <%# </div> %>
                    <h3 class="item-name">
                        <%= tweet.name %>
                    </h3>
                    <div class="item-price">
                        <span><%= tweet.price %>円</span>
                    </div>
                    <div class="item-text">
                        <%= tweet.text %>
                    </div>
                </div>
            <% end %>
        <%# <% end %>
    </div>
</div>