<%= render partial: "header" %>
<%= image_tag "AdobeStock_271036756.jpeg", alt: "top icon", id: "search-image" %>
<div id="search-container">
    <h1 class="search-title">検索画面</h1>
    <%= form_with(url: search_tweets_path, local:true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "商品を検索する", class: "search-input"%>
        <%= form.submit "検索", class: "sub-btn" %>
    <% end %>
    <div class="item-lists">
        <% @tweets.each do |tweet|%>
            <div class="item-info">
                <%= link_to "#{tweet.user.nickname} さん", tweet_path(tweet), class: "search-link" %>
                <div class="search-img-content">
                    <%= link_to image_tag(tweet.image.variant(resize: '400x400'), class: "search-img"), tweet_path(tweet) %>
                    <% if tweet.order.present? %>
                        <div class="search-sold-out">
                            <span>売却済!!</span>
                        </div>
                    <% end %>
                </div>
                <h3 class="item-name">
                    <%= tweet.name %>
                </h3>
                <div class="item-price">
                    <span><%= tweet.price %>円</span>
                </div>
                <div class="item-text">
                    <%= tweet.text %>
                </div>
            </div>
        <% end %>
    </div>
</div>