<%= render partial: "header" %>
<%= image_tag "AdobeStock_377057342.jpeg", alt: "top icon", id: "show-image" %>
<div class="item-show">
    <div class="item-box">
        <h2 class="show-item-name">
            <%= @tweet.name %>
        </h2>
        <div class="show-img-content">
            <%= image_tag @tweet.image.variant(resize: '700x400'), class: "item-box-img" %>
            <% if @tweet.order.present? %>
                <div class="show-sold-out">
                    <span>売却済!!</span>
                </div>
            <% end %>
        </div>
        <div class="item-price-box">
            <span class="item-price">
                ¥&nbsp;<%= @tweet.price %>
            </span>
            <span class="item-postage">
                <%= @tweet.shipping_cost.name %>
            </span>
        </div>
        <% if @tweet.order.blank? %>
            <% if current_user == @tweet.user %>
                <%= link_to "編集", edit_tweet_path, method: :get, class: "show-btn" %>
                <p class="or-text">or</p>
                <%= link_to "削除", tweet_path(@tweet), method: :delete, class: "show-btn" %>
            <% else %>
                <%= link_to "購入", tweet_orders_path(@tweet), class: "show-btn" %>
            <% end %>
        <% end %>
        <div class="item-explain-box">
            <%= @tweet.text %>
        </div>
        <table class="detail-table">
            <tbody>
                <tr>
                    <th class="detail-item">品物</th>
                    <td class="detail-value"><%= @tweet.name %></td>
                </tr>
                <tr>
                    <th class="detail-item">配送料の負担</th>
                    <td class="detail-value"><%= @tweet.shipping_cost.name %></td>
                </tr>
                <tr>
                    <th class="detail-item">発送元の地域</th>
                    <td class="detail-value"><%= @tweet.prefecture.name %></td>
                </tr>
                <tr>
                    <th class="detail-item">発送日の目安</th>
                    <td class="detail-value"><%= @tweet.shipping_day.name %></td>
                </tr>
            </tbody>
        </table>
        <div calss="container">
            <div class="comment-form">
                <%= form_with(model: [@tweet,@comment], local:true)do |form| %>
                    <%= form.text_area :text, placeholder: "コメントする", id: "comment-text", rows: "2" %>
                    <%= form.submit "SEND", class: "show-btn" %>
                <% end %>
            </div>
            <h4>＜コメント一覧＞</h4>
            <div class="comment-list">
                <% if @comments.length != 0 %>
                    <% @comments.each do |comment| %>
                        <p>
                            <strong><%= link_to comment.user.nickname, "#", class: "comment-name" %>：</strong>
                            <%= comment.text %>
                            <%= link_to "削除", tweet_comment_path(comment.tweet.id, comment.id), method: :delete, class: "comment-destroy" %>
                        </p>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
        <%= render partial: "footer" %>
</div>