<header class="sub-header">
  <p class="sub-title">規格外の果物やさん</p>
  <div class="nav-menu">
    <%= link_to "トップページ", root_path, class: "main-header" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "main-header" %>
  </div>
</header>
<%= image_tag "AdobeStock_1816103.jpeg", alt: "top icon", id: "login-image" %>
<div class="item-show">
    <div class="item-box">
        <h2 class="name">
            <%= @tweet.name%>
        </h2>
        <div class="item-img-content">
            <%= image_tag @tweet.image.variant(resize: '600x600'), class: "item-box-img" %>
        </div>
        <div class="item-price-box">
            <span class="item-price">
                ¥&nbsp;<%= @tweet.price %>
            </span>
            <span class="item-postage">
                <%= @tweet.shipping_cost.name %>
            </span>
        </div>
        <%= link_to "編集", edit_tweet_path, method: :get, class: "item-red-btn" %>
        <p class="or-text">
        <%= link_to "削除", "#", method: :delete, class: "item-destroy" %>
        <%= link_to "購入", "#", class: "item-red-btn" %>
        <div class="item-explain-box">
            <span><%= @tweet.text %></span>
        </div>
        <table class="detail-table">
            <tbody>
                <tr>
                    <th class="detail-item">出品者</th>
                    <td class="detail-value"><%= @tweet.name %></td>
                </tr>
                <tr>
                    <th class="detail-item">配送料の負担</th>
                    <td class="detail-value"><%= @tweet.shipping_cost.name %></td>
                </tr>
                <tr>
                    <th class="detail-item">発送元の地域</th>
                    <td class="detail-value"><%= @tweet.prefecture.name %></td>
                </tr>
                <tr>
                    <th class="detail-item">発送日の目安</th>
                    <td class="detail-value"><%= @tweet.shipping_day.name %></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>